<div class="products-container">
  @for (product of products; track product.name){
    <div class="product-card">
      <img [src]="product.imageUrls[0]" alt="{{product.name}}" class="product-image"/>
      <h3>{{product.name}}</h3>
      <p>⭐ {{product.rating}}</p>
      <p>{{product.description}}</p>
      <a [href]="product.kaspilink" target="_blank">Show on Kaspi</a>
      <button (click)="share(product)">Share</button>
      <div class="gallery">
        @for (image of product.imageUrls; track image){
          <img [src]="image" alt="{{product.name}}" class="gallery-image"/>
        }
      </div>
    </div>
  }

</div>
